.HeaderBackground{
    height: 150px;
    width: auto;
    background-color: #000000c5;
}

img.HeaderImg {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: rgb(120, 177, 228);
    font-size:15px;
    margin-bottom:1px;
}

.Box-Accueil{
    height: 450px;
    width: 350px;
    margin-left: 15px;
}

.Box-Connexion{
    height: 380px;
    width: 350px;
    margin-left: 15px;
}


nav{
    position: sticky;
    width: auto;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float:left;
    width: 25%;
    text-align: center;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration:none;
    
    border-bottom: 2px solid transparent;
    padding:10px 0px;
}

nav a:hover{
    color:rgb(0, 204, 255);
    border-bottom: 1px solid gold;
}

nav > ul li:hover .sous-menu{
    display: block;
}

nav ul li{
    float:left;
    width: 25%;
    text-align: center;
    position: relative;
}

.sous-menu{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position:absolute;
    width:100%;
    z-index: 100;
}



.sous-menu li{
    float:none;
    width:100%;
    text-align: left;
}

.sous-menu a{
    padding: 10px;
    border-bottom: none;
}

.sous-menu a:hover{
    border-bottom: none;
    background-color: rgb(200, 200, 200,0.1)
}

.Deroulant > a::after{
    font-size:12px;
}

